.flex-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 375px;
    padding: 15px;
    background: #2d2d2d;
    border-radius: 20px;
    border: 1px solid;
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: gold;
        
  }
.flex-row, .flex-header {
    position: relative;
    flex-direction: row;
    display: flex;
  }

.flex-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 105px;
    height: 105px;
    padding: 5px;
    border: 2px solid #2d2d2d;
    background: gold;
    cursor: pointer;
    user-select: none;
    color: black;
  }
.X {
    opacity: 1.0;
    background-image: url(./Transparent_X.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color:white;
    

  }
  
